body {
  background-color: #fcefe8;
}
a {
  color: inherit;
}

a:hover{
  text-decoration: none;
}

.container {
  width: 1024px;
}

.container {
  height: 100px;
  #customNav {
    div.logo {
      float: left;
      font-size: 60px;
      font-weight: bold;
      line-height: 100px;
    }
    div.navMenu {
      float: right;
      margin-left: 20px;
      font-size: 20px;
      line-height: 100px;
    }
    div.register {
      width: 150px;
      display: block;
      color: #ffffff;
      background-color: red;
      margin-top: 20px;
      line-height: 60px;
      height: 60px;
      border-radius: 10px;
      text-align: center;
    }
  }
}