#customNav {
  height: 70px;
  background-color: #afd9ee;
  color: black;
  padding-top: 30px;

  .container {
    .logo {
      float: left;
      margin-right: 100px;
    }
    .navMenu {
      float: left;
      margin-right: 20px;
      text-decoration: none;
    }
  }
}


