{% load staticfiles %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUGU.COM</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div id="customNav">
            <div class="logo">SHOESHOE</div>
            <div class="navMenu register"><a href="#">REGISTER</a></div>
            <div class="navMenu"><a href="#">LOG IN</a></div>
            <div class="navMenu"><a href="#">장바구니</a></div>
        </div>
    </div>
    {% block content %}
    {% endblock %}

    <script src="{% static 'jquery-3.3.1.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>