{% extends 'base.html' %}

{% block content %}
    <div class="main-board">
        <div class="container-fluid">
            <div class="main-banner">
                <div class="background-image"></div>
                <p class="first-message">반값하나 봄</p>
                <h3></h3>
            </div>
        </div>
    </div>
    <div class="product-list">
        <div class="container">
            <div class="row">
                <div class="col-md-4">sadf</div>
                <div class="col-md-4">asdf</div>
                <div class="col-md-4">asdf</div>
                <div class="col-md-4">asdf</div>
                <div class="col-md-4">asdf</div>
                <div class="col-md-4">asdf</div>
                <div class="col-md-4">asdf</div>
                <div class="col-md-4">asdf</div>
                <div class="col-md-4">asdf</div>
                <div class="col-md-4">asdf</div>
            </div>
        </div>
    </div>
{% endblock %}
