{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="main-board">
        <div class="container-fluid">
            <div class="main-banner">
                <div class="background-image"></div>
                <p class="first-message">반값하나 봄</p>
                <h3></h3>
            </div>
        </div>
    </div>
    <div class="product-list">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <a href="#">
                    <div class="product-image">
                        <img src="{% static 'image/product1.jpg' %}" alt="">
                    </div>
                    <div class="product-description">
                        <p class="product-name">2018 봄신상 꼬까신</p>
                        <p class="product-detail">240,245,250,255</p>
                        <p class="product-price">30,000원</p>
                        <p class="product-review">리뷰: 200</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6">
                    <a href="#">
                    <div class="product-image">
                        <img src="{% static 'image/product2.jpg' %}" alt="">
                    </div>
                    <div class="product-description">
                        <p class="product-name">2018 봄맞이 등산화 출시</p>
                        <p class="product-detail">240,245,250,255</p>
                        <p class="product-price">30,000원</p>
                        <p class="product-review">리뷰: 200</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6">
                    <a href="#">
                    <div class="product-image">
                        <img src="{% static 'image/product3.jpg' %}" alt="">
                    </div>
                    <div class="product-description">
                        <p class="product-name">Classical & modern 2018</p>
                        <p class="product-detail">240,245,250,255</p>
                        <p class="product-price">30,000원</p>
                        <p class="product-review">리뷰: 200</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6">
                    <a href="#">
                    <div class="product-image">
                        <img src="{% static 'image/product1.jpg' %}" alt="">
                    </div>
                    <div class="product-description">
                        <p class="product-name">2018 봄신상 꼬까신</p>
                        <p class="product-detail">240,245,250,255</p>
                        <p class="product-price">30,000원</p>
                        <p class="product-review">리뷰: 200</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6">
                    <a href="#">
                    <div class="product-image">
                        <img src="{% static 'image/product1.jpg' %}" alt="">
                    </div>
                    <div class="product-description">
                        <p class="product-name">2018 봄신상 꼬까신</p>
                        <p class="product-detail">240,245,250,255</p>
                        <p class="product-price">30,000원</p>
                        <p class="product-review">리뷰: 200</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6">
                    <a href="#">
                    <div class="product-image">
                        <img src="{% static 'image/product1.jpg' %}" alt="">
                    </div>
                    <div class="product-description">
                        <p class="product-name">2018 봄신상 꼬까신</p>
                        <p class="product-detail">240,245,250,255</p>
                        <p class="product-price">30,000원</p>
                        <p class="product-review">리뷰: 200</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6">
                    <a href="#">
                    <div class="product-image">
                        <img src="{% static 'image/product1.jpg' %}" alt="">
                    </div>
                    <div class="product-description">
                        <p class="product-name">2018 봄신상 꼬까신</p>
                        <p class="product-detail">240,245,250,255</p>
                        <p class="product-price">30,000원</p>
                        <p class="product-review">리뷰: 200</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6">
                    <a href="#">
                    <div class="product-image">
                        <img src="{% static 'image/product1.jpg' %}" alt="">
                    </div>
                    <div class="product-description">
                        <p class="product-name">2018 봄신상 꼬까신</p>
                        <p class="product-detail">240,245,250,255</p>
                        <p class="product-price">30,000원</p>
                        <p class="product-review">리뷰: 200</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6">
                    <a href="#">
                    <div class="product-image">
                        <img src="{% static 'image/product1.jpg' %}" alt="">
                    </div>
                    <div class="product-description">
                        <p class="product-name">2018 봄신상 꼬까신</p>
                        <p class="product-detail">240,245,250,255</p>
                        <p class="product-price">30,000원</p>
                        <p class="product-review">리뷰: 200</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-xs-6">
                    <a href="#">
                    <div class="product-image">
                        <img src="{% static 'image/product1.jpg' %}" alt="">
                    </div>
                    <div class="product-description">
                        <p class="product-name">2018 봄신상 꼬까신</p>
                        <p class="product-detail">240,245,250,255</p>
                        <p class="product-price">30,000원</p>
                        <p class="product-review">리뷰: 200</p>
                    </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
